/* 2021 Jamie Roeger

This is my custom theme for the portfolio, based a little on Stylish Portfolio from Start Bootstrap.

*/
body, html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Source Sans Pro';
}