/* 2021 Jamie Roeger

This is my custom theme for the portfolio, based a little on Stylish Portfolio from Start Bootstrap.

*/

/* CUSTOM FONT STYLING */
/* Regular */
@font-face {
    font-family: 'Source Sans Pro';
        src: url('https://lights-and-shadows.github.io/fonts/SourceSansPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'Source Sans Pro Italic';
        src: url("https://lights-and-shadows.github.io/fonts/SourceSansPro-Italic.ttf");
    font-weight: normal;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'Source Sans Pro Bold';
        src: url("https://lights-and-shadows.github.io/fonts/SourceSansPro-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: 'Source Sands Pro Bold Italic';
        src: url("https://lights-and-shadows.github.io/fonts/SourceSansPro-BoldItalic.ttf");
    font-weight: normal;
    font-style: normal;
}

/* REGULAR CONTENT */
body, html {
    width: 100%;
    height: 100%;
}

.btn-xl {
    padding: 1.25rem 2.5rem;
}

.content-section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro Bold', sans-serif;
    font-weight: bold;
}
.content-section-heading h2 {
    font-size: 3rem;
}

.content-section-heading h3 {
    font-size: 1rem;
    text-transform: uppercase;
}